body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .fronti{
  z-index: 999999999 !important;
} */
#theme{
  display: none;
}
#theme:checked ~ .App{
  filter: invert(1);
}
.App{
  height: 100vh;
  min-width: 100%;
  background-color: white;
}
.main{
  max-width: 1000px;
  width: 100%;
  margin:auto;
}
.ld{
  background-color:rgba(73, 73, 68,0.7);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  
  
}
.form-control:focus {
  border-color: #0c0b0b !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(17, 16, 16, 0.6) !important;
}

@media (max-width:990){
  .search-box{
    width: 100px !important;
  }
  .ldp{
    background-color:rgba(73, 73, 68,0.7);
    position: fixed;
    z-index: 2;
    margin: 0%;
    width: 100%;
    height: 100%;
}
}
/* */
@media (max-width: 768px) {

  /* .navbar-collapse {
    position: absolute;
    top: 54px;
    left: 0;
  z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 80%;
  background-color: rgb(19, 15, 15);
  opacity: 90%;
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  } */
  .dropd{
    position: absolute ;
    left: 20% ; 
    z-index: 50;
    width: 60%;
    /* transform: translateY(-20px);  */
 }
 .menu-bot{
  position: fixed;
  flex-direction: row;
  bottom: 0px;
  left: 0px;
  background: black;
  justify-content: space-around;
  width: 100%;
 }
 .dropdown.show .dropdown-menu{
   position: fixed ;
   top: 75%;
    left: 70%;
 }

 
  
  
}
@media (max-width: 380px) {
  .infopro{
    margin-top: 15px;
  }
  
}
/* @media (max-width:990px) {
  .dropd{
    position: absolute ;
    left: 30px ; 
    z-index: 50;
    width: 80%;
    transform: translateY(-20px); 
 }
 .menu-bot{
  position: fixed;
  flex-direction: row;
  bottom: 0px;
  background: black;
  justify-content: space-around;
  width: 100%;
 }
  
  
} */
/* .dropdown-toggle::after {
  display:none;
} */
@import url('./styles/avatar.css');
@import url('./styles/search.css');



